name: PuzzleMessenger
on:
  schedule:
    - cron: "0 4 * * *" #runs at 04:00 UTC everyday
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout repo content
        uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8 #install python 3.8

      # Runs a set of commands using the runners shell
      - name: execute py script
        run: |
          python -m pip install --upgrade pip
          pip install berserk
          pip install discord.py
          python dailyMessenger.py

      
